/* accueil */

.center {
  max-width: 100%;
}
.instruction {
  align-items: center;
  h3 {
    margin-right: 0;
  }
}
.presentation {
  padding-bottom: 0;
  &__container {
    display: flex;
    margin: 0;
    margin-top: 10px;
  }
}
@import "./Utils/Variables";
.instruction {
  width: 33.333%;
}
.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  h2 {
    width: 100%;
  }
}
.card {
  width: 47.5%;
}

/* menu  */
.image-container {
  height: 400px;
}
main .menu-center {
  display: flex;
  flex-wrap: wrap;
  background-color: $light-grey;
  justify-content: center;
  .menu-section {
    width: 50%;
  }
  .purchase-section {
    background-color: white;
    margin-bottom: 0;
    padding-bottom: 50px;
  }
}
.heading {
  width: 100%;
}
