.styled-button {
  display: block;
  width: 220px;
  padding: 15px 0;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background: $secondary-color;
  background: linear-gradient(170deg, $secondary-color 0%, $primary-color 100%);
  margin: 20px auto;
  box-shadow: $shadow-light;
  &:hover {
    background: darken($secondary-color, 5%);
    background: linear-gradient(
      170deg,
      lighten($secondary-color, 5%) 0%,
      lighten($primary-color, 5%) 100%
    );
    cursor: pointer;
    box-shadow: $shadow-strong;
  }
  &:active {
    background: darken($secondary-color, 10%);
    background: linear-gradient(
      170deg,
      lighten($secondary-color, 5%) 0%,
      lighten($primary-color, 5%) 100%
    );
    box-shadow: $shadow-strong;
  }
}
