.item
{
    @include AnimationOffset(4);
    animation: FadeIn 1s linear;
    animation-fill-mode: forwards;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top: 10px;
    box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px, 
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;   
    opacity: 0;
    strong
    {
        align-self: flex-end;
        padding: 0 30px;
    }

    &__texts
    {
        display : flex;
        flex-direction: column;
        overflow : hidden;
        p,h3
        {
            overflow : hidden;
            text-overflow : ellipsis;
            white-space: nowrap;
        }
    }

    &__infos
    {
        width:100%;
        transition : width 0.5s;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 10px 0px 10px 10px;       
        h3
        {
            width: 100%;
            font-weight: bold;
        }
    }
    &__check
    {
        width:0%;
        transition : width 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        i
        {
            font-size: 20px;
            color: white;
            padding: 0 20px;
            display: inline-block;
            transform: rotate(180deg);
            transition: transform 1s;
        }
    }

    &:hover
    {
        cursor: pointer;
    }

    &:hover &
    {
        &__infos
        {
            width:80%;
        }
        &__check
        {
            width:20%;
            i
            {
                transform: rotate(0deg);
            }
        }
    }
}