.bg
{
    &--light-grey
    {
        background-color: $light-grey;
    }
    
    &--mid-grey
    {
        background-color: $mid-grey;
    }
    
    &--dark-grey
    {
        background-color: $dark-grey;
    }
    
    &--white
    {
     background-color: white;
    }
    
    &--pastel-green
    {
     background-color: $tertiary-color;
    }
}