@import "../Utils/Variables";
@import "../Utils/Keyframes";
@import "../Utils/Mixins";

footer,header,main
{
    animation: Show 4s linear;
    animation-fill-mode: forwards;
}
.loader
{
    position: absolute;
    width: 100%;
    margin-top: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include TextAnimationOffset(8);
    animation: Hide 4s linear;
    animation-fill-mode: forwards;
    &__letters-loading
    {
        font-size: 40px;
        color: darken($light-grey, 20%);
        position: relative;
        &::before
        {
            content: attr(data-text-preloader);
            font-size: 40px;
            color: black;
            position: absolute;
            top: 0;
            left: 0; 
            opacity:0;
            transform: rotateY(-90deg);  
            animation: TextRotation 4s linear infinite;  
        }
    }    
}